.header {
  display: flex;
  justify-content: space-around;
  color: whitesmoke !important;
  align-items: center !important;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}
.nav {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  width: 70%;
  align-items: center !important;
  padding-right: 50px;
  padding-left: 50px;
}
.searchbt {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 30%;
  padding-right: 100px;
  flex-direction: row;
}
.login-text {
  margin-left: 20px;
}
.logout-button {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: aliceblue;
}
.search-input {
  background-color: transparent;
  border: none;
  padding: 5px;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}
.transparent-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: aliceblue;
}
.choose_type {
  display: flex;
  align-items: center;
}
.type {
  display: inline-block;
  /* padding: 2px; */
  /* background-color: red; */
}
/* .list_movie {
  background-color: transparent;
 
} */
